## Importing the importing libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df1 = pd.read_csv("data/2013(June)-2021(May).csv")
df2 = pd.read_csv("data/may-2021-to-september-2023.csv")

In [5]:
df1.head()

   SN            Commodity        Date Unit  Minimum  Maximum  Average
0   0   Tomato Big(Nepali)  2013-06-16   Kg     35.0     40.0     37.5
1   1  Tomato Small(Local)  2013-06-16   Kg     26.0     32.0     29.0
2   2           Potato Red  2013-06-16   Kg     20.0     21.0     20.5
3   3         Potato White  2013-06-16   Kg     15.0     16.0     15.5
4   4   Onion Dry (Indian)  2013-06-16   Kg     28.0     30.0     29.0

In [6]:
df2.head()

     Tomato Big(Nepali)  1/5/2021  Kg  50  60    55
0    Tomato Big(Indian)  1/5/2021  Kg  50  60    55
1   Tomato Small(Local)  1/5/2021  Kg  30  35  32.5
2  Tomato Small(Tunnel)  1/5/2021  Kg  30  35  32.5
3  Tomato Small(Indian)  1/5/2021  KG  40  45  42.5
4   Tomato Small(Terai)  1/5/2021  KG  40  45  42.5

## TASK 1: Combine two dataframes top and bottom

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197161 entries, 0 to 197160
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   SN         197161 non-null  int64
 1   Commodity  197161 non-null  object
 2   Date       197161 non-null  object
 3   Unit       197161 non-null  object
 4   Minimum    197161 non-null  float64
 5   Maximum    197161 non-null  float64
 6   Average    197161 non-null  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 10.5+ MB

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96479 entries, 0 to 96478
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Tomato Big(Nepali)  96479 non-null  object
 1   1/5/2021            96479 non-null  object
 2   Kg                  96479 non-null  object
 3   50                  96479 non-null  object
 4   60                  96479 non-null  object
 5   55                  96479 non-null  object
dtypes: object(6)
memory usage: 4.4+ MB

## TASK 2: Convert the Date column to Date types

In [11]:
len(df1['Commodity'].unique())

132

In [13]:
len(df2['Tomato Big(Nepali)'].unique())

133

In [16]:
df1['Commodity'].value_counts()

Commodity
Ginger                  2751
Cauli Local             2750
Cabbage(Local)          2749
Chilli Dry              2748
Raddish White(Local)    2747
                        ...
Maize                     24
Mango(Calcutte)           23
Sweet Lime                14
Musk Melon                10
Mango(Chousa)              2
Name: count, Length: 132, dtype: int64

## TASK 3: I think there are repeated values in the Commdity fields. I might need to make a table for repeated things.

In [19]:
df1['Unit'].value_counts()

Unit
Kg      184408
KG        6889
1 Pc      3120
Doz       2744
Name: count, dtype: int64

In [ ]:
df1['Unit'].value_counts()

## TASK 4: Hey Nabin, Give a proper namings to the df2's column, Okaaaaaay?

## TASK 5: Understand the meaning of the max, min, and average or if needed make something different.

## TASK 6: Make sure to check the Data Value constraints