## Importing the importing libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df1 = pd.read_csv("data/2013(June)-2021(May).csv")
df2 = pd.read_csv("data/may-2021-to-september-2023.csv", header=None)

In [3]:
df1.columns

Index(['SN', 'Commodity', 'Date', 'Unit', 'Minimum', 'Maximum', 'Average'], dtype='object')

In [4]:
df1.head()

   SN            Commodity        Date Unit  Minimum  Maximum  Average
0   0   Tomato Big(Nepali)  2013-06-16   Kg     35.0     40.0     37.5
1   1  Tomato Small(Local)  2013-06-16   Kg     26.0     32.0     29.0
2   2           Potato Red  2013-06-16   Kg     20.0     21.0     20.5
3   3         Potato White  2013-06-16   Kg     15.0     16.0     15.5
4   4   Onion Dry (Indian)  2013-06-16   Kg     28.0     30.0     29.0

In [5]:
del df1['SN']

In [6]:
df1.columns

Index(['Commodity', 'Date', 'Unit', 'Minimum', 'Maximum', 'Average'], dtype='object')

In [7]:
df2.columns = df1.columns

## TASK 1: Combine two dataframes top and bottom

In [8]:
df3 = pd.concat([df1,df2])

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197161 entries, 0 to 197160
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Commodity  197161 non-null  object
 1   Date       197161 non-null  object
 2   Unit       197161 non-null  object
 3   Minimum    197161 non-null  float64
 4   Maximum    197161 non-null  float64
 5   Average    197161 non-null  float64
dtypes: float64(3), object(3)
memory usage: 9.0+ MB

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96480 entries, 0 to 96479
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Commodity  96480 non-null  object
 1   Date       96480 non-null  object
 2   Unit       96480 non-null  object
 3   Minimum    96480 non-null  object
 4   Maximum    96480 non-null  object
 5   Average    96480 non-null  object
dtypes: object(6)
memory usage: 4.4+ MB

In [11]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 293641 entries, 0 to 96479
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Commodity  293641 non-null  object
 1   Date       293641 non-null  object
 2   Unit       293641 non-null  object
 3   Minimum    293641 non-null  object
 4   Maximum    293641 non-null  object
 5   Average    293641 non-null  object
dtypes: object(6)
memory usage: 15.7+ MB

## TASK 2: Convert the Date column to Date types

In [12]:
len(df1['Commodity'].unique())

132

In [13]:
len(df2['Tomato Big(Nepali)'].unique())

KeyError: 'Tomato Big(Nepali)'

In [20]:
df1['Commodity'].value_counts()

Commodity
Ginger                  2751
Cauli Local             2750
Cabbage(Local)          2749
Chilli Dry              2748
Raddish White(Local)    2747
                        ...
Maize                     24
Mango(Calcutte)           23
Sweet Lime                14
Musk Melon                10
Mango(Chousa)              2
Name: count, Length: 132, dtype: int64

## TASK 3: I think there are repeated values in the Commdity fields. I might need to make a table for repeated things.

In [21]:
df1['Unit'].value_counts()

Unit
Kg      184408
KG        6889
1 Pc      3120
Doz       2744
Name: count, dtype: int64

In [22]:
df1['Unit'].value_counts()

Unit
Kg      184408
KG        6889
1 Pc      3120
Doz       2744
Name: count, dtype: int64

## TASK 4: Hey Nabin, Give a proper namings to the df2's column, Okaaaaaay?

## TASK 5: Understand the meaning of the max, min, and average or if needed make something different.

## TASK 6: Make sure to check the Data Value constraints

# Let's Start

In [23]:
df3

                  Commodity        Date Unit   Minimum   Maximum   Average
0        Tomato Big(Nepali)  2013-06-16   Kg      35.0      40.0      37.5
1       Tomato Small(Local)  2013-06-16   Kg      26.0      32.0      29.0
2                Potato Red  2013-06-16   Kg      20.0      21.0      20.5
3              Potato White  2013-06-16   Kg      15.0      16.0      15.5
4        Onion Dry (Indian)  2013-06-16   Kg      28.0      30.0      29.0
...                     ...         ...  ...       ...       ...       ...
96475  Tomato Small(Indian)  2023-09-28   KG  Rs 45.00  Rs 55.00  Rs 50.00
96476   Tomato Small(Local)  2023-09-28   KG  Rs 50.00  Rs 60.00  Rs 55.00
96477  Tomato Small(Tunnel)  2023-09-28   KG  Rs 60.00  Rs 75.00  Rs 69.00
96478              Turnip A  2023-09-28   KG  Rs 70.00  Rs 80.00  Rs 75.00
96479    Water Melon(Green)  2023-09-28   KG  Rs 50.00  Rs 60.00  Rs 56.67

[293641 rows x 6 columns]

# TASK: Removing the RS

In [24]:
df3['Minimum'] = df3['Minimum'].apply(lambda x: float(x.replace('Rs', '').strip()) if isinstance(x, str) and 'Rs' in x else float(x))

In [25]:
df3['Maximum'] = df3['Maximum'].apply(lambda x: float(x.replace('Rs', '').strip()) if isinstance(x, str) and 'Rs' in x else float(x))

In [26]:
df3['Average'] = df3['Average'].apply(lambda x: float(x.replace('Rs', '').strip()) if isinstance(x, str) and 'Rs' in x else float(x))

In [27]:
df3.head()

             Commodity        Date Unit  Minimum  Maximum  Average
0   Tomato Big(Nepali)  2013-06-16   Kg     35.0     40.0     37.5
1  Tomato Small(Local)  2013-06-16   Kg     26.0     32.0     29.0
2           Potato Red  2013-06-16   Kg     20.0     21.0     20.5
3         Potato White  2013-06-16   Kg     15.0     16.0     15.5
4   Onion Dry (Indian)  2013-06-16   Kg     28.0     30.0     29.0

# Let's touch the Date

In [28]:
df3['Date']

0        2013-06-16
1        2013-06-16
2        2013-06-16
3        2013-06-16
4        2013-06-16
            ...
96475    2023-09-28
96476    2023-09-28
96477    2023-09-28
96478    2023-09-28
96479    2023-09-28
Name: Date, Length: 293641, dtype: object

In [29]:
df3['Date'] = pd.to_datetime(df3['Date'],format='mixed')

In [30]:
print("min: ",df3['Date'].min(), "\nmax: ",df3['Date'].max())

min:  2013-06-16 00:00:00
max:  2023-09-28 00:00:00

In [31]:
df3

                  Commodity       Date Unit  Minimum  Maximum  Average
0        Tomato Big(Nepali) 2013-06-16   Kg     35.0     40.0    37.50
1       Tomato Small(Local) 2013-06-16   Kg     26.0     32.0    29.00
2                Potato Red 2013-06-16   Kg     20.0     21.0    20.50
3              Potato White 2013-06-16   Kg     15.0     16.0    15.50
4        Onion Dry (Indian) 2013-06-16   Kg     28.0     30.0    29.00
...                     ...        ...  ...      ...      ...      ...
96475  Tomato Small(Indian) 2023-09-28   KG     45.0     55.0    50.00
96476   Tomato Small(Local) 2023-09-28   KG     50.0     60.0    55.00
96477  Tomato Small(Tunnel) 2023-09-28   KG     60.0     75.0    69.00
96478              Turnip A 2023-09-28   KG     70.0     80.0    75.00
96479    Water Melon(Green) 2023-09-28   KG     50.0     60.0    56.67

[293641 rows x 6 columns]

## TASK: Fixing the upper and lowercase of Unit

In [32]:
df3['Unit'].unique()

array(['Kg', 'Doz', '1 Pc', 'KG', 'Per Dozen', 'Per Piece'], dtype=object)

In [33]:
df3['Unit'] = df3['Unit'].str.lower()

In [34]:
df3['Unit'].unique()

array(['kg', 'doz', '1 pc', 'per dozen', 'per piece'], dtype=object)

In [35]:
df3['Unit'][df3['Unit'] == "1 pc"] = 'per piece'

C:\Users\whoami\AppData\Local\Temp\ipykernel_26292\721763613.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df3['Unit'][df3['Unit'] == "1 pc"] = 'per piece'
C:\Users\whoami\AppData\Local\Temp\ipykernel_26292\721763613.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Unit'][df3['Unit'] == "1 pc"] = 'per piece'

In [36]:
df3['Unit'].unique()

array(['kg', 'doz', 'per piece', 'per dozen'], dtype=object)

In [37]:
df3['Unit'][df3['Unit'] == "doz"] = 'per dozen'

C:\Users\whoami\AppData\Local\Temp\ipykernel_26292\1599315007.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df3['Unit'][df3['Unit'] == "doz"] = 'per dozen'
C:\Users\whoami\AppData\Local\Temp\ipykernel_26292\1599315007.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Unit'][df3['Unit'] == "doz"] = 'per dozen'

In [38]:
df3['Unit'].unique()

array(['kg', 'per dozen', 'per piece'], dtype=object)

## Looking at the Commodity

In [39]:
df3['Commodity'].value_counts()

Commodity
Cauli Local            3741
Ginger                 3741
Chilli Dry             3738
Banana                 3733
Coriander Green        3732
                       ...
Tree Tomato             109
Water Melon(Dotted)      64
Maize                    24
Sweet Lime               23
Musk Melon               10
Name: count, Length: 136, dtype: int64

# TASK: Now plotting the time series data

In [40]:
len(df3['Date'].unique())

3616

In [41]:
df3['Date'].max() - df3['Date'].min()

Timedelta('3756 days 00:00:00')

In [42]:
df3

                  Commodity       Date Unit  Minimum  Maximum  Average
0        Tomato Big(Nepali) 2013-06-16   kg     35.0     40.0    37.50
1       Tomato Small(Local) 2013-06-16   kg     26.0     32.0    29.00
2                Potato Red 2013-06-16   kg     20.0     21.0    20.50
3              Potato White 2013-06-16   kg     15.0     16.0    15.50
4        Onion Dry (Indian) 2013-06-16   kg     28.0     30.0    29.00
...                     ...        ...  ...      ...      ...      ...
96475  Tomato Small(Indian) 2023-09-28   kg     45.0     55.0    50.00
96476   Tomato Small(Local) 2023-09-28   kg     50.0     60.0    55.00
96477  Tomato Small(Tunnel) 2023-09-28   kg     60.0     75.0    69.00
96478              Turnip A 2023-09-28   kg     70.0     80.0    75.00
96479    Water Melon(Green) 2023-09-28   kg     50.0     60.0    56.67

[293641 rows x 6 columns]

In [43]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 293641 entries, 0 to 96479
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Commodity  293641 non-null  object
 1   Date       293641 non-null  datetime64[ns]
 2   Unit       293641 non-null  object
 3   Minimum    293641 non-null  float64
 4   Maximum    293641 non-null  float64
 5   Average    293641 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 15.7+ MB

In [44]:
df3.to_csv('cleaned_data.csv')